 <head>
    <title>#if($title)$title#else 无标题 #end</title>

    <link rel="stylesheet" type="text/css" href="$!assetModule.getTarget("/shop/2013/skin/common.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="$!assetModule.getTarget("/shop/2013/skin/modules/crm.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="$!marketModule.getTarget("/common/css/dhtmlxchart.css")" media="all"/>

    <script type="text/javascript" src="$!assetModule.getTarget("/shop/js/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="$!assetModule.getTarget("/shop/js/jdThickBox.0.0.2.js")"></script>
    <script type="text/javascript" src="$!assetModule.getTarget("/shop/2013/datepicker/WdatePicker.js")"></script>

    <script type="text/javascript">
       function goToPage(url){
	   		var toPage = document.getElementsByName("toPage")[0].value;
			var totalPage = document.getElementsByName("totalPage")[0].value;
			if(toPage!=''){
				var r = /^\+?[1-9][0-9]*$/;
				if(!r.test(toPage)){
					alert("请输入大于0的整数！");
					document.getElementsByName("toPage")[0].value='';
					return;
				}
				else if(toPage*1>totalPage*1){
					alert("您输入的页数已超过范围！");
					document.getElementsByName("toPage")[0].value='';
					return;
				}
           		var targetUrl = url.replace('-page-',toPage);
    			window.location=targetUrl;
			}
			else{
				alert("请输入页数！");
			}
       }
    </script>
    <style type="text/css">
        /*滚动*/
        html {
            overflow-x: hidden;
        }
    </style>
</head>