 <div class="w" id="nav-footer"><a target="_blank" href="http://www.360buy.com/intro/about.aspx">关于我们</a>|<a target="_blank" href="http://www.360buy.com/contact/">联系我们</a>|<a target="_blank" href="http://www.360buy.com/intro/service.aspx">广告服务</a>|<a target="_blank" href="http://www.360buy.com/intro/job.aspx">人才招聘</a>|<a target="_blank" href="http://club.360buy.com/">京东社区</a>|<a target="_blank" href="http://club.360buy.com/allreview/1-1.html">商品评价</a>|<a target="_blank" href="http://club.360buy.com/links.aspx">友情链接</a></div>
<!--[if !ie]>nav-footer end<![endif]-->

<div class="w" id="copyright">
    北京市公安局海淀分局备案编号：1101081681&nbsp;&nbsp;<a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026" class="icp">京ICP证070359号</a><br />
    Copyright&copy;2004-2010&nbsp;&nbsp;360buy京东商城&nbsp;&nbsp;版权所有<br/>
		<div>
	    <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026" target="_blank"><img src="http://misc.360buyimg.com/skin/df/i/com/f_icp.gif"   alt="经营性网站备案中心" /></a><a href="https://tns-ssverify.cnnic.cn/verifyseal.dll?dn=www.360buy.com" target="_blank"><img src="http://misc.360buyimg.com/201006/skin/df/i/knetSealLogo.jpg" alt="站点卫视" /></a><a href="http://fzp.bjhd.gov.cn/Default.aspx?TabId=105" target="_blank"><img src="http://misc.360buyimg.com/skin/df/i/com/f_hdwj.jpg" alt="海淀网络警察" /></a>
	</div>
</div>
<!--[if !ie]>copyright end<![endif]-->