<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>商家SOA端 - 京东商城</title>
    <script src="/jquery-1.10.2.min.js"></script>
</head>
<body>
    <br /><br />
    <table align="center" border="1px" width="80%">
        <tr>
            <th style="height: 30px;">名称</th>
            <th style="height: 30px;">描述</th>
        </tr>
        <tr>
            <th><a href="/test_indexPoints.action">积分操作</a> </th>
            <th>手动添加积分、查询积分等</th>
        </tr>
    </table>
</body>
</html>