#* @vtlvariable name="loginContext" type="com.jd.pop.vender.web.context.VenderLoginContext" *#
#* @vtlvariable name="receiverName" type="java.lang.String" *#
#* @vtlvariable name="screen_content" type="java.lang.String" *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("/WEB-INF/vm/common/head.vm")
 <body id="mainframe">
$screen_content
#parse("/WEB-INF/vm/common/bottom.vm")
## 防止cookie过期
<img src="$!passportModule.getTarget("/new/hello.aspx")" width="0" height="0"/>
 #if($!loginContext)
<script type="text/javascript">
     jQuery(document).ready(function(){
       // 详情和帮助     
       jQuery("#appInfo a").click(function(){
           jQuery("#detailHelp").attr("src", jQuery(this).attr("data"));
           jQuery("#appInfo a").removeClass("on");
           jQuery(this).addClass("on");
       });
         jQuery("#detailHelp").attr("src", jQuery("#appInfo a:eq(0)").attr("data"));

        $("#tbl_type2 tr").hover(function() {
            $(this).find('td').css('background-color', '#f4f6f9');
        }, function() {
            $(this).find('td').css('background-color', '#fff');
        });
        $("#suitTable tr").hover(function() {
            $(this).find('td').css('background-color', '#f4f6f9');
        }, function() {
            $(this).find('td').css('background-color', '#fff');
        });
        $("#mainGiftTable tr").hover(function() {
            $(this).find('td').css('background-color', '#f4f6f9');
        }, function() {
            $(this).find('td').css('background-color', '#fff');
        });
        $("#giftTable tr").hover(function() {
            $(this).find('td').css('background-color', '#f4f6f9');
        }, function() {
            $(this).find('td').css('background-color', '#fff');
        });
     });
     try{
         if (top && top._SetLoginContext) {
             top._SetLoginContext("$!stringEscapeUtils.escapeJavaScript($!loginContext.pin)", "$!stringEscapeUtils.escapeJavaScript($!loginContext.companyName)");
         }
     } catch(e){}

 </script>
 #end
 </body>
</html>

 