##<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>#if($title)$title#else 无标题 #end</title>
	<link rel="stylesheet" type="text/css" href="$assetModule.getTarget("/template/style/ui.datepicker.css")" media="all"/>
	<link rel="stylesheet" type="text/css" href="$assetModule.getTarget("/pop-ven/201007/skin/businessmanage.css")" media="all"/>
	<link rel="stylesheet" type="text/css" href="$assetModule.getTarget("/pop-ven/201007/skin/myDispatching.css")" media="all"/>
	<link rel="stylesheet" type="text/css" href="$assetModule.getTarget("/pop-ven/201007/skin/popbase.css")" media="all" />
	<link type="text/css" rel="stylesheet" href="$assetModule.getTarget("/pop-ven/201007/skin/waremana.css")" />
    <script type="text/javascript" src="$assetModule.getTarget("/js/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="$assetModule.getTarget("/pop-ven/201007/js/pop.base.js")"></script>
	<link rel="stylesheet" type="text/css" href="$assetModule.getTarget("/pop-ven/201007/skin/ui.datepicker.css")" media="all" />
	<script type="text/javascript" src="$assetModule.getTarget("/pop-ven/201007/js/ui.datepicker.js")"></script>
</head>
<body id="mainframe">
$screen_content
## 防止cookie过期
 <img src="$!passportModule.getTarget("/new/hello.aspx")" width="0" height="0"/>
 <script type="text/javascript">

       function onloadEvent(func) {
         var one = window.onload
         if (typeof window.onload != 'function') {
             window.onload = func
         }
         else {
             window.onload = function() {
                 one();
                 func();
             }
         }
     }
     function showtable() {
         //var tablename = document.getElementById("mytable")
         var tbxnTableArray = jQuery(".tb-xn");
         for(var t =0;t<tbxnTableArray.length;t++){
             var tablename = tbxnTableArray[t];
             var li1 = tablename.getElementsByTagName("tr")
             for (var i = 1; i < li1.length; i++) {//表格是这里i=1,即第一行不变色。其它为0比较好.
                 //(i%2==0)?(li1[i].className="a1") : (li1[i].className=”a2″)
                 //用这个或下面的if(i%2==0){…}
                 li1[i].onmouseover = function() {
                     this.style.backgroundColor = "#deffc4";//当鼠标指向时字体颜色
                 }
                 li1[i].onmouseout = function() {
                     this.style.backgroundColor = ""
                 }
                 if (i % 2 == 0) {
                     li1[i].className = "a1";
                 } else {
                     li1[i].className = "a2";
                 }
             }
         }
     }
     onloadEvent(showtable);
  </script>
  
  <script language="javascript" type="text/javascript">
    var alertDivNum=0;
    window.alert = function(txt,divWidth,marginLeft,marginTop,showTime)
    { // create by 纪雨 	 2010.8.8
	 var lastAlertFram = document.getElementById('alertFram');
	 if(lastAlertFram!=null){
	 	doOk();
	 }
	 if(showTime==null||showTime==''){
	 	showTime = 3800;
	 }
	 if(divWidth==null||divWidth==''){
	 	divWidth = 450;
	 }
     if(marginLeft==null||marginLeft==''){
	 	marginLeft = -225;
	 }
     if(marginTop==null||marginTop==''){
	 	marginTop = -75;
	 }
     window.setTimeout("doOk("+ ++alertDivNum+")", showTime);
     var alertFram = document.createElement("DIV");
     alertFram.id="alertFram" + alertDivNum;
     alertFram.style.position = "absolute";
     alertFram.style.left = "50%";
     alertFram.style.top = "50%";
     alertFram.style.marginLeft = marginLeft+"px";
     alertFram.style.marginTop = marginTop+"px";
     alertFram.style.width = divWidth+"px";
     alertFram.style.height = "150px";
     alertFram.style.background = "#ccc";
     alertFram.style.textAlign = "center";
     alertFram.style.lineHeight = "150px";
     alertFram.style.zIndex = "10001";
     strHtml = "<ul style=\"list-style:none;margin:0px;padding:0px;width:100%\">\n";
     strHtml += " <li style=\"background:#00CCFF;text-align:left;padding-left:20px;font-size:14px;font-weight:bold;height:25px;line-height:25px;border:1px solid #FFE477;\">[系统提示]</li>\n";
     strHtml += " <li style=\"background:#ffffff;text-align:center;font-size:12px;height:120px;line-height:120px;border-left:1px solid #F9CADE;border-right:1px solid #F9CADE;\">"+txt+"</li>\n";
     strHtml += " <li style=\"background:#88E7FF;text-align:center;font-weight:bold;height:25px;line-height:25px; border:1px solid #F9CADE;\"><input id=\"queding\" type=\"button\" value=\"确 定\" class=\"btn-b-b\" onclick=\"doOk("+alertDivNum+")\" /></li>\n";
     strHtml += "</ul>\n";
     alertFram.innerHTML = strHtml;
     document.body.appendChild(alertFram);
	 alertFram.style.display = "none";
     $("#alertFram"+alertDivNum).fadeIn("slow");

	 var c = 0;
     this.doAlpha = function(){
         if (c++ > 20){clearInterval(ad);return 0;}
     }
     var ad = setInterval("doAlpha()",5);
     this.doOk = function(aDivNum){
	 	 $("#alertFram"+aDivNum).fadeOut("slow");
		 //alertFram.style.display = "none";
     }
     alertFram.focus();
	 window.scrollTo(0,0);
     document.body.onselectstart = function(){return false;};

     }

    </script>
	
</body>
</html>