<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">
    <context:component-scan base-package="com.jd.pop.crm.dao"/>

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sqlmap-config.xml"/>
    </bean>

    <!-- 原始的SqlMapClient -->
    <bean id="crmSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="configLocation" value="classpath:sqlmap-config.xml"/>
    </bean>

    <util:map id="dataSourceMap">
        <entry key="db0" value-ref="popCrmDataSource"/>
        <entry key="db1" value-ref="popCrmDataSource1"/>
        <entry key="db2" value-ref="popCrmDataSource2"/>
        <entry key="db3" value-ref="popCrmDataSource3"/>
    </util:map>

    <!-- 分库分表后数据源池 -->
    <bean id="multipleDataSourcesService" class="com.jd.sharding.client.datasource.DefaultMultiDataSourcesService">
        <property name="dataSourcePool" ref="dataSourceMap">
        </property>
    </bean>

    <bean id="multiDataSourcesContainer" class="com.jd.pop.crm.sharding.plugin.MultiDataSourcesContainer">
        <property name="dbIndexPrefix" value="db"/>
    </bean>

    <!-- 分库分表路由器 -->
    <bean id="simpleRouter" class="com.jd.sharding.client.router.SimpleRouter">
        <property name="shardConfig">
            <bean class="com.jd.sharding.client.config.ShardConfig">
                <property name="tableConfig">
                    <map>
                        <!-- 会员表 -->
                        <entry key="crm_customer" value-ref="customerTbConfig"/>
                        <!-- 参与营销活动计数器 -->
                        <entry key="crm_marketing_counter" value-ref="marketingCounterTbConfig"/>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="routeRule" class="com.jd.sharding.client.rule.SimpleRouteRule">
        <!-- 分库个数 -->
        <constructor-arg index="0" value="4"/>
        <!-- 分表个数 -->
        <constructor-arg index="1" value="1024"/>
    </bean>

    <!-- 会员表分表配置 -->
    <bean id="customerTbConfig" class="com.jd.sharding.client.config.TableConfig">
        <property name="dbIndexPrefix" value="db"/>
        <property name="dbCount" value="4"/>
        <property name="tbNamePrefix" value="crm_customer_"/>
        <property name="tableCount" value="1024"/>
        <property name="routeField" value="venderId"/>
        <property name="tabNameField" value="tableName"/>
        <property name="routeRule" ref="routeRule"/>
    </bean>

    <!-- 营销活动参与计数器表分表配置 -->
    <bean id="marketingCounterTbConfig" class="com.jd.sharding.client.config.TableConfig">
        <property name="dbIndexPrefix" value="db"/>
        <property name="dbCount" value="1"/>
        <property name="tbNamePrefix" value="crm_marketing_counter_"/>
        <property name="tableCount" value="32"/>
        <property name="routeField" value="venderId"/>
        <property name="tabNameField" value="tableName"/>
        <property name="routeRule" ref="routeRule"/>
    </bean>

    <!-- 会员表 分表后的JdbcTemplate -->
    <bean id="customerShardJdbcTemplate" class="com.jd.sharding.client.SimpleShardJdbcTemplate">
        <property name="logicalTabName" value="crm_customer"/>
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
        <property name="dataSourcesService" ref="multipleDataSourcesService"/>
        <property name="router" ref="simpleRouter"/>
    </bean>

    <!-- 营销活动计数器表 分表后的JdbcTemplate -->
    <bean id="marketingCounterShardJdbcTemplate" class="com.jd.sharding.client.SimpleShardJdbcTemplate">
        <property name="logicalTabName" value="crm_marketing_counter"/>
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
        <property name="dataSourcesService" ref="multipleDataSourcesService"/>
        <property name="router" ref="simpleRouter"/>
    </bean>

    <!--<bean id="popOrderInfoDao" class="com.jd.pop.crm.dao.impl.PopOrderInfoDaoImpl">-->
        <!--<property name="dataSource" ref="poporderDataSource"/>-->
    <!--</bean>-->
    <!--<bean id="popOrderItemDao" class="com.jd.pop.crm.dao.impl.PopOrderItemDaoImpl">-->
        <!--<property name="dataSource" ref="poporderDataSource"/>-->
    <!--</bean>-->
    <!--<bean id="couponDetailDao" class="com.jd.pop.crm.dao.impl.CouponDetailDaoImpl">-->
        <!--<property name="dataSource" ref="poporderDataSource"/>-->
    <!--</bean>-->
    <bean id="marketingDao" class="com.jd.pop.crm.dao.impl.MarketingDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="marketingExtendsDao" class="com.jd.pop.crm.dao.impl.MarketingExtendsDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <!-- CRM数据中的优惠券 -->
    <bean id="couponDao" class="com.jd.pop.crm.dao.impl.CouponDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="shopLevelRuleDao" class="com.jd.pop.crm.dao.impl.ShopLevelRuleDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    
    <bean id="commonSeqDao" class="com.jd.pop.crm.dao.impl.CommonSeqDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="customerActivefeeDao" class="com.jd.pop.crm.dao.impl.CustomerActivefeeDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="accountBillDao" class="com.jd.pop.crm.dao.impl.AccountBillDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="accountConsumptionDao" class="com.jd.pop.crm.dao.impl.AccountConsumptionDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <!-- 会员模型dao层bean -->
    <bean id="customerModelDao" class="com.jd.pop.crm.dao.impl.CustomerModelDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <!-- 会员dao层bean -->
    <bean id="customerDao" class="com.jd.pop.crm.dao.impl.CustomerDaoImpl">
        <property name="customerShardJdbcTemplate" ref="customerShardJdbcTemplate"/>
    </bean>

    <!--专享活动-->
    <bean id="ownMarketingDao" class="com.jd.pop.crm.dao.customerOwn.impl.OwnMarketingDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="ownMarketingSkuDao" class="com.jd.pop.crm.dao.customerOwn.impl.OwnMarketingSkuDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!-- 黑名单相关Dao add by zzb 2013-08-31 -->
    <bean id="blackRedListDao" class="com.jd.pop.crm.dao.blackList.impl.BlackRedListDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <!-- 会员发送优惠券情况 -->
    <!--<bean id="activityPinDao" class="com.jd.pop.crm.dao.impl.ActivityPinDaoImpl">-->
        <!--<property name="dataSource" ref="popCrmDataSource"/>-->
        <!--<property name="sqlMapClient" ref="sqlMapClient"/>-->
    <!--</bean>-->
    
    <bean id="assessReportDao" class="com.jd.pop.crm.dao.impl.AssessReportDaoImpl">
        <property name="dataSource" ref="popCrmDataSource3"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!--系统告警短信发送dao bjchenzhiqing-->
    <bean id="systemMessageDao" class="com.jd.pop.crm.dao.impl.SystemMessageDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="dataArriveRecodeDao" class="com.jd.pop.crm.dao.impl.DataArriveRecodeDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!-- 超级控制台的dao层bean-->
    <bean id="consoleDao" class="com.jd.pop.crm.dao.impl.ConsoleDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="customerPointsDao" class="com.jd.pop.crm.dao.points.impl.CustomerPointsDaoImpl">
        <property name="customerShardJdbcTemplate" ref="pointsShardJdbcTemplate"/>
    </bean>

    <bean id="customerPointsDetailDao" class="com.jd.pop.crm.dao.points.impl.CustomerPointsDetailDaoIml">
        <property name="customerShardJdbcTemplate" ref="pointsDetailShardJdbcTemplate"/>
    </bean>

    <bean id="customerPointsFreezeDao" class="com.jd.pop.crm.dao.points.impl.CustomerPointsFreezeDaoImpl">
        <property name="customerShardJdbcTemplate" ref="pointsFreezeShardJdbcTemplate"/>
    </bean>

    <!--商家会员积分规则-->
    <bean id="pointsTradeRuleDefDao" class="com.jd.pop.crm.dao.points.impl.PointsTradeRuleDefDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!--会员积分规则定义 -->
    <bean id="pointsTradeRuleDao" class="com.jd.pop.crm.dao.points.impl.PointsTradeRuleDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="customerPointsIncDao" class="com.jd.pop.crm.dao.points.impl.CustomerPointsIncDaoImpl">
        <property name="customerShardJdbcTemplate" ref="pointsIncShardJdbcTemplate"/>
    </bean>

    <bean id="customerPointsInitLogDao" class="com.jd.pop.crm.dao.points.impl.CustomerPointsInitLogDaoImpl">
        <property name="customerShardJdbcTemplate" ref="pointsInitLogShardJdbcTemplate"/>
    </bean>

    <bean id="detailArchiveLogDao" class="com.jd.pop.crm.dao.points.impl.DetailArchiveLogDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
    </bean>

    <!--商家优惠券-->
    <bean id="pointsCouponDao" class="com.jd.pop.crm.dao.points.impl.PointsCouponDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="pointsCouponDeleteDao" class="com.jd.pop.crm.dao.points.impl.PointsCouponDeleteImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>


    <bean id="configCenterUtil" class="com.jd.pop.crm.manager.util.ConfigCenterUtil"/>

    <!-- 分库分表路由器 -->
    <bean id="pointsRouter" class="com.jd.pop.crm.sharding.plugin.ElasticRouter">
        <property name="shardConfig">
            <bean class="com.jd.sharding.client.config.ShardConfig">
                <property name="tableConfig">
                    <map>
                        <!-- 积分表 -->
                        <entry key="crm_cust_p" value-ref="pointsTbConfig"/>
                        <!-- 积分流水表 -->
                        <entry key="crm_cust_p_detail" value-ref="pointsDetailTbConfig"/>
                        <!-- 积分冻结表 -->
                        <entry key="crm_cust_p_freeze" value-ref="pointsFreezeTbConfig"/>
                        <!-- 积分增量表 -->
                        <entry key="crm_cust_p_inc" value-ref="pointsIncTbConfig"/>
                        <!-- 积分初始化日志表 -->
                        <entry key="crm_points_init_log" value-ref="pointsInitLogTbConfig" />
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="zkPopPointsCfg" class="com.jd.pop.crm.sharding.points.ZKPopPointsCfg">
        <property name="connectStr" value="${pop-crm.points.zookeeper}"/>
        <property name="sessionTimeout" value="1800000"/>
        <property name="connectionTimeout" value="5000"/>
        <property name="retrySleepTime" value="1000"/>
        <property name="maxRetries" value="3"/>
    </bean>

    <!-- 商家和库之间mapping缓存 -->
    <bean id="venderDataSourceCache" class="com.jd.pop.crm.sharding.points.VenderMappingZKCache" init-method="init" destroy-method="destroy">
        <property name="zkPopPointsCfg" ref="zkPopPointsCfg"/>
    </bean>

    <bean id="pointsRouteRule" class="com.jd.pop.crm.sharding.plugin.ElasticRouteRule">
        <!-- 分表个数 -->
        <constructor-arg index="0" value="1024"/>
        <!-- 分库规则 -->
        <constructor-arg index="1" ref="venderDataSourceCache"/>
    </bean>

    <!-- 会员积分表分表配置 -->
    <bean id="pointsTbConfig" class="com.jd.sharding.client.config.TableConfig">
        <property name="dbIndexPrefix" value="db"/>
        <property name="dbCount" value="4"/>
        <property name="tbNamePrefix" value="crm_cust_p_"/>
        <property name="tableCount" value="1024"/>
        <property name="routeField" value="venderId;venderId,customerPin"/>
        <property name="tabNameField" value="tableName"/>
        <property name="routeRule" ref="pointsRouteRule"/>
    </bean>

    <!-- 会员积分表 分表后的JdbcTemplate -->
    <bean id="pointsShardJdbcTemplate" class="com.jd.pop.crm.sharding.plugin.ElasticJdbcTemplate">
        <property name="logicalTabName" value="crm_cust_p"/>
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
        <property name="dataSourcesService" ref="multipleDataSourcesService"/>
        <property name="router" ref="pointsRouter"/>
    </bean>

    <!-- 积分流水分表配置 -->
    <bean id="pointsDetailTbConfig" class="com.jd.sharding.client.config.TableConfig">
        <property name="dbIndexPrefix" value="db"/>
        <property name="dbCount" value="4"/>
        <property name="tbNamePrefix" value="crm_cust_p_detail_"/>
        <property name="tableCount" value="1024"/>
        <property name="routeField" value="venderId;venderId,customerPin"/>
        <property name="tabNameField" value="tableName"/>
        <property name="routeRule" ref="pointsRouteRule"/>
    </bean>

    <!-- 积分流水表 分表后的JdbcTemplate -->
    <bean id="pointsDetailShardJdbcTemplate" class="com.jd.pop.crm.sharding.plugin.ElasticJdbcTemplate">
        <property name="logicalTabName" value="crm_cust_p_detail"/>
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
        <property name="dataSourcesService" ref="multipleDataSourcesService"/>
        <property name="router" ref="pointsRouter"/>
    </bean>

    <!-- 积分冻结分表配置 -->
    <bean id="pointsFreezeTbConfig" class="com.jd.sharding.client.config.TableConfig">
        <property name="dbIndexPrefix" value="db"/>
        <property name="dbCount" value="4"/>
        <property name="tbNamePrefix" value="crm_cust_p_freeze"/>
        <property name="tableCount" value="1"/>
        <property name="routeField" value="venderId"/>
        <property name="tabNameField" value="tableName"/>
        <property name="routeRule" ref="pointsRouteRule"/>
    </bean>

    <!-- 积分冻结表 分表后的JdbcTemplate -->
    <bean id="pointsFreezeShardJdbcTemplate" class="com.jd.pop.crm.sharding.plugin.ElasticJdbcTemplate">
        <property name="logicalTabName" value="crm_cust_p_freeze"/>
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
        <property name="dataSourcesService" ref="multipleDataSourcesService"/>
        <property name="router" ref="pointsRouter"/>
    </bean>

    <!-- 积分增量表配置 -->
    <bean id="pointsIncTbConfig" class="com.jd.sharding.client.config.TableConfig">
        <property name="dbIndexPrefix" value="db"/>
        <property name="dbCount" value="4"/>
        <property name="tbNamePrefix" value="crm_cust_p_inc"/>
        <property name="tableCount" value="1"/>
        <property name="routeField" value="venderId"/>
        <property name="tabNameField" value="tableName"/>
        <property name="routeRule" ref="pointsRouteRule"/>
    </bean>

    <!-- 积分增量表 分表后的JdbcTemplate -->
    <bean id="pointsIncShardJdbcTemplate" class="com.jd.pop.crm.sharding.plugin.ElasticJdbcTemplate">
        <property name="logicalTabName" value="crm_cust_p_inc"/>
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
        <property name="dataSourcesService" ref="multipleDataSourcesService"/>
        <property name="router" ref="pointsRouter"/>
    </bean>

    <!-- 积分初始化日志表配置 -->
    <bean id="pointsInitLogTbConfig" class="com.jd.sharding.client.config.TableConfig">
        <property name="dbIndexPrefix" value="db"/>
        <property name="dbCount" value="4"/>
        <property name="tbNamePrefix" value="crm_points_init_log"/>
        <property name="tableCount" value="1"/>
        <property name="routeField" value="venderId"/>
        <property name="tabNameField" value="tableName"/>
        <property name="routeRule" ref="pointsRouteRule"/>
    </bean>

    <!-- 积分初始化日志表 分表后的JdbcTemplate -->
    <bean id="pointsInitLogShardJdbcTemplate" class="com.jd.pop.crm.sharding.plugin.ElasticJdbcTemplate">
        <property name="logicalTabName" value="crm_points_init_log"/>
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
        <property name="dataSourcesService" ref="multipleDataSourcesService"/>
        <property name="router" ref="pointsRouter"/>
    </bean>

    <!-- 用户积分，按商家分库，分库策略 -->
    <bean id="customerPointsDBShardingStrategy" class="com.jd.pop.crm.manager.points.dbshard.DefaultDBShardingStrategy"/>

    <bean id="customerPointsDBDao" class="com.jd.pop.crm.dao.points.impl.CustomerPointsDBDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
    </bean>

    <bean id="customerPointsDBMappingDao" class="com.jd.pop.crm.dao.points.impl.CustomerPointsDBMappingDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="crmSqlMapClient"/>
    </bean>

    <bean id="discountDao" class="com.jd.pop.crm.dao.discount.impl.DiscountDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!-- 开通功能 相关Dao -->
    <bean id="openFunctionDao" class="com.jd.pop.crm.dao.impl.OpenFunctionDaoImpl">
        <property name="dataSource" ref="popCrmDataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!--山姆会员积分兑换窗口时间-->
    <bean id="samClubPointsDataTimeDao" class="com.jd.pop.crm.dao.samclub.impl.SamClubPointsDataTimeDaoImpl">
        <property name="dataSource" ref="popCrmDataSource3" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <!-- 沃尔玛山姆会员信息 -->
    <bean id="walmartSamClubDao" class="com.jd.pop.crm.dao.samclub.impl.WalmartSamClubDaoImpl">
        <property name="dataSource" ref="popCrmDataSource3" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <!-- 沃尔玛山姆绑卡发券 -->
    <bean id="walmartSamClubCouponDao" class="com.jd.pop.crm.dao.samclub.impl.WalmartSamClubCouponDaoImpl">
        <property name="dataSource" ref="popCrmDataSource3" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <!-- 沃尔玛山姆会员历史信息 -->
    <bean id="walmartSamClubHistoryDao" class="com.jd.pop.crm.dao.samclub.impl.WalmartSamClubHistoryDaoImpl">
        <property name="dataSource" ref="popCrmDataSource3" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="crmSuggestionsDao" class="com.jd.pop.crm.dao.impl.CrmSuggestionsDaoImpl">
        <property name="dataSource" ref="popCrmDataSource3"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="newComerGiftDao" class="com.jd.pop.crm.dao.newcomer.impl.NewComerGiftDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="newComerGiftSkuDao" class="com.jd.pop.crm.dao.newcomer.impl.NewComerGiftSkuDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="rfmModelDao" class="com.jd.pop.crm.dao.opration.impl.RfmModelLevelDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="positionModelDao" class="com.jd.pop.crm.dao.impl.PositionModelDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="memberAnalysisEsDao" class="com.jd.pop.crm.dao.es.member.impl.MemberAnalysisEsDaoImpl"/>

    <bean id="customerHomeDao" class="com.jd.pop.crm.dao.impl.CustomerHomeDaoImpl">
        <property name="dataSource" ref="popCrmDataSource2"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="pointsExchangeGiftDao" class="com.jd.pop.crm.dao.points.impl.PointsExchangeGiftDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="pointsExchangeGiftSkuDao" class="com.jd.pop.crm.dao.points.impl.PointsExchangeGiftSkuDaoImpl">
        <property name="dataSource" ref="popCrmDataSource" />
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
</beans>