<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
     <!--<META NAME="save" CONTENT="history"> -->
  <title>#if($title)$title#end</title>
 <link rel="stylesheet" type="text/css" href="$assetModule.getTarget("/pop-ven/201007/skin/regist.css")"/>
 <link rel="stylesheet" type="text/css" href="$assetModule.getTarget("/pop-ven/201007/skin/regist.company.css")"/>
 <script type="text/javascript" src="$homeModule.getTarget("/template/DatePicker/WdatePicker.js")"></script>
 <script type="text/javascript" src="$assetModule.getTarget("/js/jquery-1.4.2.min.js")"></script>
     <script type="text/javascript" src="$assetModule.getTarget("/pop-ven/201007/js/jquery.validate.min.js")"></script>
<script type="text/javascript" src="$assetModule.getTarget("/pop-ven/201007/js/jquery.metadata.js")"></script>
 <script type="text/javascript" src="$assetModule.getTarget("/pop-ven/201007/js/g.base.js")"></script>
 <script type="text/javascript" src="$assetModule.getTarget("/pop-ven/201007/js/myjsframereg.js")"></script>
   <script type="text/javascript" src="$assetModule.getTarget("/pop-ven/201007/js/my.js")"></script>

 </head>
 <body>

<div id="shortcut">
	<div class="w">
		<ul>
			<li><a  href="http://jd2008.360buy.com/user_home.aspx" target="_blank">我的京东</a></li>
			<li><a  href="http://diy.360buy.com/" target="_blank">装机大师</a></li>
			<li><a href="http://market.360buy.com/giftcard/index.html" target="_blank">礼品卡</a></li>
			<li><a href="http://market.360buy.com/giftcard/company/default.aspx" target="_blank">企业客户</a> </li>
			<li class="sub"><dl>
				<dt><b></b><a href="http://help.jd.com/venderportal/index.html" target="_blank">帮助中心</a></dt>
				<dd>
					<div><a href="http://jd2008.360buy.com/user_order.aspx" target="_blank">订单中心</a></div>
					<div><a href="http://jd2008.360buy.com/user_cpfx.aspx"  target="_blank">返修中心</a></div>
					<div><a href="http://jd2008.360buy.com/complaint.aspx"  target="_blank">投诉中心</a></div>
				</dd>
			</dl></li>
		</ul><!--end #tool-->
		<span class="clr"></span>
	</div>
</div>
<!--[if gte IE 6]>
<script type="text/javascript">$("#shortcut .sub").hoverForIE6();</script>
<![endif]-->

<div class="w" id="logo">
	<div><a href="http://www.360buy.com/"><img src="$assetModule.getTarget("/pop-ven/201007/skin/register/images/logo.gif")" alt="京东商城" width="167" height="46" /></a></div>
</div>