<?xml version='1.0' encoding='UTF-8' ?>

<configuration>

    <!--控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${pop-crm.log.ConversionPattern}</pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
        </filter>
    </appender>

    <!-- 增量日志 -->
    <appender name="INCREMENT_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${pop-crm.log.path}/pop-crm-increment.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${pop-crm.log.path}/pop-crm-increment.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${pop-crm.log.maxHistory}</maxHistory>
            <totalSizeCap>${pop-crm.log.totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${pop-crm.log.ConversionPattern}</pattern>
            </layout>
            <charset>GBK</charset>
        </encoder>
    </appender>

    <logger name="pop.crm.increment" additivity="false"  level="${pop-crm.log.level}">
        <appender-ref ref="INCREMENT_INFO"/>
        <appender-ref ref="${pop-crm.log4j.root.appender.ref}"/>
    </logger>

    <root level="${pop-crm.log.level}">
        <appender-ref ref="${pop-crm.log4j.root.appender.ref}"/>
        <!--<appender-ref ref="FILE-DEBUG"/>-->
    </root>

</configuration>