<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">


    <!--pop crm 线上数据源 added by laichendong-->
    <bean id="popCrmDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/popCrmDataSource"/>
        <property name="expectedType" value="javax.sql.DataSource"/>
    </bean>
    <bean id="popCrmDataSource1" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/popCrmDataSource1"/>
        <property name="expectedType" value="javax.sql.DataSource"/>
    </bean>
    <bean id="popCrmDataSource2" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/popCrmDataSource2"/>
        <property name="expectedType" value="javax.sql.DataSource"/>
    </bean>
    <bean id="popCrmDataSource3" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/popCrmDataSource3"/>
        <property name="expectedType" value="javax.sql.DataSource"/>
    </bean>

</beans>